include README
include LICENSE
include MANIFEST.in
recursive-include user_comments *.py *.txt *.html *.po *.mo *.xml *.xslt *.xsl *.js *.sass *.css *.png *.jpg *.jpeg *.gif *.otf *.eot *.svg *.ttf *.woff
